body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-image: url("mec_log.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    Overflow-y:scroll
}

.container{
  margin: 0px 0px 0px 10px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.content{
  margin-top: 1%;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  background-color: #ccddff;
  padding: 1%;
  border-radius: 25px;
  box-shadow: 5px 10px #EEECF1;
}


#usuname, #usulogin{
    font-size: 30px;
    background-color: #AFE9FF;
    box-shadow: 5px 5px black;
    border-radius: 15px;
    width: 40%;
    text-align: center;
    margin-left: 30%;
}

#nombre, #vehiculos, #servicios{
  color: black;
  align-items: center;
  width: 200px;
  margin-left: 35%;
}

#nombre{
  font-size: 50px;
  margin-right: 40%;
  margin-top: 0%;
  margin-bottom: 0%;
}

#servicios, #vehiculos, #serv{
  margin-top: 10%;
  font-size: 30px;
}

.bienvenido{
  background-color: beige;
  width: auto;
}

#anuncio{
  background-color: beige;
}

#tabla_veh{
  margin-top: 0;
}

table {
  width: 700px;
  border-right-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 18px;
    /* /* border: 1px solid #343a40; */
  border-collapse: collapse
}
  
  th, td {
    /* border: 1px solid #343a40; */
    padding: 16px 24px;
    text-align: left;
  }

  th {
    background-color: #087f5b;
    color: #fff;
    width: 25%;
  }

  tbody tr:nth-child(odd){
    background-color: #f8f9fa;
  }

  
  tbody tr:nth-child(even){
    background-color: #e9ecef;
  }

tbody tr:nth-child(odd){
    background-color: #f8f9fa;
  }

  
tbody tr:nth-child(even){
    background-color: #e9ecef;
}

.boton_veh{
  color: #494949 ;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 10px;
	border: 4px solid #494949;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

.boton_veh:hover{
  color: #ffffff;
  background: #5bda56;
  border-color: #d3d3d3;
  transition: all 0.4s ease 0s;
}

.submit{
  margin-top: 10px;
  border-radius: 5px;
  font-size: 20px;
  padding: 14px 80px;
  cursor: pointer;
  color: #fff;
  background-color: #00A6FF;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 70;
  border: 1px solid #fff;
  box-shadow: 2px 2px 5px #AFE9FF;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
}

.submit:hover {
  color: #006398;
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}

.serVeh{
  margin-top: 10%;
  color: #e9ecef;
  background-color: #3d3afb;
  border-radius: 25px;
  width: 300px;
}